name: CI - Build & Push Docker Image to ECR

on:
  push:
    branches: [main]
  workflow_dispatch:

env:
  IMAGE_NAME: medical-chatbot

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_DEFAULT_REGION }}

      - name: Login to Amazon ECR
        run: |
          ECR_REGISTRY=${{ secrets.ECR_REPO }}
          ECR_REGISTRY="${ECR_REGISTRY%%/*}"
          aws ecr get-login-password --region ${{ secrets.AWS_DEFAULT_REGION }} | \
            docker login --username AWS --password-stdin "$ECR_REGISTRY"

      - name: Build Docker image
        run: |
          docker build -t $IMAGE_NAME:latest .

      - name: Tag & push image to ECR
        run: |
          docker tag $IMAGE_NAME:latest ${{ secrets.ECR_REPO }}:latest
          docker push ${{ secrets.ECR_REPO }}:latest
